<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948902526091-to873v26facodc15btuketd35llhrqo7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948902526091-to873v26facodc15btuketd35llhrqo7</string>
	<key>API_KEY</key>
	<string>AIzaSyAVQM442NS8bhLY9VQGgtPTE_FHolGwAGs</string>
	<key>GCM_SENDER_ID</key>
	<string>948902526091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hectortakami.firechat</string>
	<key>PROJECT_ID</key>
	<string>ios-flash-chat-3ac6f</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-flash-chat-3ac6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948902526091:ios:3293b30ce63ddd8548288e</string>
	<key>DATABASE_URL</key>
	<string>https://ios-flash-chat-3ac6f.firebaseio.com</string>
</dict>
</plist>